@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<style>
        /* Basic CSS styles for layout */
        .container {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }

        .column {
            flex: 1;
            margin: 0 10px;
        }

        .left-column {
            flex-basis: 20%;
        }

        .middle-column {
            flex-basis: 60%;
        }

        .right-column {
            flex-basis: 20%;
        }

        .links {
            padding: 10px;
            background-color: #f0f0f0;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .posts {
            padding: 10px;
            background-color: #f9f9f9;
            border: 1px solid #ddd;
            border-radius: 5px;
        }

        .other-content {
            padding: 10px;
            background-color: #f0f0f0;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
    </style>


<div class="container">
    <!-- Left column with links -->
    <div class="column left-column">
        <div class="links">
            <h3>Navigation</h3>
            <ul>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">More</a></li>
            </ul>
        </div>
    </div>

    <!-- Middle column with posts -->
    <div class="column middle-column">
        <div class="posts">
            <h3>Posts</h3>
            <!-- Display posts here -->
        </div>
    </div>

    <!-- Right column with other content -->
    <div class="column right-column">
        <div class="other-content">
            <h3>Other Content</h3>
            <!-- Display other content here -->
        </div>
    </div>
</div>